$border-color: rgb(172, 172, 172);
$purple: rgb(94, 0, 94);
$light-purple: rgb(146, 0, 146);
$red: red;
$btn-color: rgb(145, 0, 145);
$btn-hover-color: rgb(165, 0, 165);
$placeholder-color: rgb(153, 153, 153);
