.MailForm {
  display: flex;
  flex-direction: column;
  padding: 40px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.301);

  align-items: center;

  .desc {
    margin-top: 5px;
  }

  .inputs-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // min-width: 600px;
    margin-bottom: 20px;
  }

  .textarea-container {
    width: 100%;
  }

  .btn-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .input-item {
    width: 47%;
  }

  @media (max-width: 630px) {
    .inputs-container,
    .btn-container {
      flex-direction: column;
    }

    .btn {
      width: 70%;
      max-width: 300px;
      margin: 0 !important;

      &:first-child {
        margin-bottom: 10px !important;
      }
    }
    .input-item {
      width: 100%;

      &:first-child {
        margin-bottom: 10px;
      }
    }
  }
}
