@import '../../sass/variables';

.NotificationWrapper {
  width: 100%;
  height: 100%;
  position: absolute;

  .notification {
    position: fixed;
    background-color: white;
    border-radius: 10px;
    width: 350px;
    height: 250px;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in;
    text-align: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.301);

    &.show {
      visibility: visible;
      opacity: 1;
    }

    h2 {
      margin-top: 15%;
      font-size: 2rem;
    }

    button {
      position: absolute;
      bottom: 10%;
      left: 50%;
      transform: translateX(-50%);
      margin-top: auto;
      display: block;
    }

    .icon {
      color: $btn-color;
      margin-top: -30px;
    }
  }
}
