@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import './sass/variables';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

input,
textarea {
  &::placeholder {
    color: $placeholder-color;
  }
}

label {
  color: $placeholder-color;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.App {
  width: 100vw;
  height: 100vh;
}

.btn {
  text-transform: capitalize;
  padding: 10px 20px;
  font-weight: 500;
  font-size: 1rem;
  border-radius: 20px;
  background-color: $btn-color;
  color: white;
  transition: background-color 0.2s ease-in;

  &:hover {
    background-color: $btn-hover-color;
  }
}
